name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          pip install pipenv
          pipenv sync --dev
      - name: Install pytest
        run: pipenv install pytest
      - name: Run tests
        run: |
          pipenv run pytest